@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


h2, h3 {
  font-family: 'Montserrat';
}

p, td {
  font-family: 'Roboto';
}
#resort_info table {
  display: inline-block;
}

#resort_info table td {
  width: 110px;
  text-align: left;
  padding: 5px;
}
#country, #name {
  padding: 5px;
}



.selected {
  background-color: blue;
  color: white;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  margin: 20px;
}

.slider-value {
  flex-grow: 1;
  text-align: center;
}

#parkingButton, #nightSkiButton {
  width: 100px;
  height: 40px;
  border: 2px solid #ccc;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  background-color: #f1f1f1;
}

#parkingButton:hover {
  background-color: #ddd;
}


