@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');


.data_name td {
    color: #bbb;
    font-size: 13px;
    font-weight: 900;
}




h2, h3 {
  font-family: 'Montserrat';
}

p, td {
  font-family: 'Roboto';
}
#resort_info table {
  display: inline-block;
}

#resort_info table td {
  width: 110px;
  text-align: left;
  padding: 5px;
}
#country, #name {
  padding: 5px;
}



.selected {
  background-color: blue;
  color: white;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  margin: 20px;
}

.slider-value {
  flex-grow: 1;
  text-align: center;
}

#parkingButton, #nightSkiButton {
  width: 100px;
  height: 40px;
  border: 2px solid #ccc;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  background-color: #f1f1f1;
}

#parkingButton:hover {
  background-color: #ddd;
}


.gridlines line {
  stroke: #bbb;
}

.gridlines .domain {
  stroke: none;
}

#scatterPlot .y.axis path,
#scatterPlot .y.axis line,
#scatterPlot .y.axis text {
    fill: none;
    stroke: #bbb;
}

#scatterPlot .x.axis path,
#scatterPlot .x.axis line,
#scatterPlot .x.axis text {
    fill: none;
    stroke: #bbb;
}

#slope_info .y.axis path,
#slope_info .y.axis line {
    display: none;  
}

#lift_info .y.axis path,
#lift_info .y.axis line {
    display: none; 
}

#slope_info .y.axis text,
#lift_info .y.axis text {
  font-family: 'Roboto';
  font-size: 11px;
  font-weight: 300;
} 

#name, #country {
  display: inline;
}
#name {
  font-weight: 600;
  font-size: 20px;
}


#info_top {
  height: 100px;
  /* background-color: antiquewhite; */
}
#country, .data_name td {
  color: #848484;
  font-size: 12px;
  font-weight: 300;
}

#Snowparks, #nightSki, #SnowCannons, #LiftCapacity, #DayPassPriceAdult, #HighestPoint, #LowestPoint {
  font-weight: 500;
  font-size: 20px;
  color: #719DF5;
}

table {
  /* background-color: aliceblue; */
}
#info_panel {
  padding: 20px;
  border: solid 1px black; 
  width: 300px;
}